<script setup>
import { ref, computed } from "vue";

const loading = ref(false);
const error = ref(false);
const products = ref([]);
const inputFilter = ref("");
let placeholderFilter = ref("Filtrage par nom");
const filter = ref("");
let filtering = ref("nom");
const filterByName = ref(true);

async function fetchProducts() {
  loading.value = true;
  error.value = false;

  try {
    const baseUrl = import.meta.env.VITE_API_URL ? import.meta.env.VITE_API_URL : import.meta.env.BASE_URL;
    const promise = await fetch(baseUrl + "/api/products", {
      method: "GET",
      headers: {
        "Content-Type": "application/json",
      },
    });
    products.value = await promise.json();
    console.log(products.value[0]);
  } catch (e) {
    error.value = true;
  } finally {
    loading.value = false;
  }
}

const filteringProduct = computed(() => {
  let data = products.value;
  if (filterByName.value) {
    data = data.sort((a, b) => a.name > b.name);
  } else {
    data = data.sort((a, b) => a.originalPrice > b.originalPrice);
  }
  if (inputFilter.value.length > 0) {
    data = data.filter((list) => list.name.includes(inputFilter.value));
  }
  return data;
});

function chooseFiltering(button) {
  switch (button) {
    case 1:
      filtering.value = "nom";
      placeholderFilter.value = "Filtrage par nom";
      filterByName.value = true;
      break;
    case 2:
      filtering.value = "prix";
      placeholderFilter.value = "Filtrage par prix";
      filterByName.value = false;
      break;
  }
}

fetchProducts();
</script>

<template>
  <div>
    <h1 class="text-center mb-4">Liste des produits</h1>

    <div class="row mb-3">
      <div class="col-md-6">
        <form>
          <div class="input-group">
            <span class="input-group-text">Filtrage</span>
            <input
              type="text"
              class="form-control"
              :placeholder="placeholderFilter"
              data-test-filter
              v-model="inputFilter"
              @input="filter"
            />
          </div>
        </form>
      </div>
      <div class="col-md-6 text-end">
        <div class="btn-group">
          <button
            type="button"
            class="btn btn-primary dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            data-test-sorter
          >
            Trier par {{ filtering }}
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <a class="dropdown-item" href="#" @click="chooseFiltering(1)">
                Nom
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                href="#"
                data-test-sorter-price
                @click="chooseFiltering(2)"
              >
                Prix
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="text-center mt-4" :class="{ hidden: !error }" data-test-loading>
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Chargement...</span>
      </div>
    </div>

    <div
      class="alert alert-danger mt-4"
      :class="{ hidden: !error }"
      role="alert"
      data-test-error
    >
      Une erreur est survenue lors du chargement des produits.
    </div>
    <div class="row">
      <div
        class="col-md-4 mb-4"
        v-for="i in filteringProduct"
        data-test-product
        :key="i.id"
      >
        <div class="card">
          <RouterLink :to="{ name: 'Product', params: { productId: i.id } }">
            <img
              :src="i.pictureUrl"
              data-test-product-picture
              class="card-img-top"
            />
          </RouterLink>
          <div class="card-body">
            <h5 class="card-title">
              <RouterLink
                data-test-product-name
                :to="{ name: 'Product', params: { productId: i.id } }"
              >
                {{ i.name }}
              </RouterLink>
            </h5>
            <p class="card-text" data-test-product-description>
              {{ i.description }}
            </p>
            <p class="card-text">
              Vendeur :
              <RouterLink
                data-test-product-seller
                :to="{ name: 'User', params: { userId: i.seller.id } }"
              >
                {{ i.seller.username }}
              </RouterLink>
            </p>
            <p class="card-text" data-test-product-date>
              En cours jusqu'au
              {{
                new Date(i.endDate).toLocaleDateString("fr-FR", {
                  timeZone: "UTC",
                })
              }}
            </p>
            <p class="card-text" data-test-product-price>
              Prix actuel : {{ i.originalPrice }} €
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
